.click-status {
    position: absolute;
    height: 3rem;
    width: 10rem;
    display: block;
    
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #fff;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    

    /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:lightcoral; */
  }
  .click-status.visible {
    opacity: 1;
  }

  .click-status h1 {
    justify-self: center;
    background-color: #242739;;
    line-height: 100%;
  }

  