.switch-root {
    top: 3px;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
  }

  .switch-input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switch-thumb  {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d4d3d3;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
  }

  .switch-thumb::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -6px;
    bottom: -3px;
    background-color: #b1b1b1;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .switch-input:checked + .switch-thumb::before {
    background-color: #2196F3;
  }

  .switch-input:checked + .switch-thumb {
    background-color: #73bffd75;
  }

  .switch-input:focus + .switch-thumb::before {
    box-shadow: 0 0 2px #000000;
  }

  .switch-input:checked + .switch-thumb::before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  .switch-thumb {
    border-radius: 30px;
  }

  .switch-thumb::before {
    border-radius: 50%;
  }

  .ongoing {
    margin-left: .5rem;
  }