
.start-menu {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.turn-title {
    position: relative;
    left: 50%;
    transform: translate(-5%, 100%);
}

.gameboards {
    position: absolute;
    display: grid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    grid-template-columns: 1fr 1fr;
    column-gap: 20rem;
}