table {
    border-spacing: 0;
}

.battlefield-table {
    border-collapse: collapse;
}

.battlefield-cell {
    border: 1px solid #b4b4ff;

    padding: 0;
}

.battlefield-cell-content {
    position: relative;

    height: 2rem;
    width: 2rem;

    align-content: center;
    justify-content: center;
}

.marker {
    position: absolute;
    text-align: center;
}

.marker-col {
    top: -1.5rem;

    width: 2rem;
}

.marker-row {
    left: -2rem;
    top: .5rem;

    width: 2rem;
    height: 1rem;
}

.player-title {
    margin-top: 2rem;
    text-align: center;
}

.fa-times {
    position: relative;
    line-height: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}