.bottom-menu {
    height: 55px;
    width: 100%;

    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: space-evenly;

    background: var(--background);

    border-top:var(--red) 1px solid;

    z-index: 9;
}

.bottom-menu > a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 50px;
}

.icon-container > svg {
    max-width: 100%;
    display: flex;

    justify-content: center;
}

/* .bottom-menu > div {
    margin: 0 12px;
} */

.bottom-menu a:hover  path {
    fill: var(--blue-dark);
}

.bottom-menu a:hover > div{
    background: var(--blue-overlay);
    border-radius: 9999px;
}