.main-btn {
    width: 18.75rem;
    height: 3.125rem;

    background: var(--blue);
    color: var(--white);

    /* display: flex; */
    align-items: center;
    justify-content: center;

    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 700;

    border: 0;
    

    margin: 24px;
}

.main-btn:hover {
    background: var(--blue-dark);
}