<a href="/">back</a>
<form method="POST" action="/new">
    <header>
        <h1>Send your message</h1>
    </header>
    <div style="display: flex; flex-direction: column;">
        <input type="text" class="name" name="name" placeholder="name" style="margin-bottom: 16px; max-width: 200px;">
        <input type="text" class="message" name="message" placeholder="message" style="margin-bottom: 16px; max-width: 600px; text-align: start;">
        <input type="submit" class="btn" value="Send" style="text-align: center; max-width: 200px;">
    </div>
    
 </form>